/* add your CSS here */
img {
  width: 300px;
}
 .facts {
   font-style: italic;
 }

ul > li {
  font-weight: bold;
  list-style-type: none;
}
 .card-border {
  border: 2px solid grey;
  box-shadow: 5px 10px grey;
 }

 .animal-info {
  border: 1px solid grey;
}

.padding {
  padding: 15px;
}
